body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  color: black;
}
