body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333;
  background-color: #f2f2f2;
}

body, button, input {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

h3 {
  font-size: 21px;
  line-height: 21px;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
  position: relative;
}

.main-navigation ul {
  margin: 0;
  padding: 15px 6%;

  background-color: white;
  list-style: none;
}

.main-navigation .item-float-left {
  float: left;
  width: 22.73%;
  text-align: left;
}

.main-navigation .item-float-right {
  float: right;
  width: 22.73%;
  text-align: right;
}

.main-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: black;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .item-index-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.main-navigation img {
  width: 138px;
  height: 70px;
}

.main-header-intro {
  padding-top: 76px;
  padding-bottom: 80px;
  background: url("../img/mask.png") no-repeat center bottom,
              url("../img/background.jpg") no-repeat center top;
  background-size: 100% 37px, 100% auto;
  background-color: #47a;
}

.main-header-intro img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

main {
    background-color: white;
}

.index-promo {
  padding-top: 60px;
}

.index-promo h2 {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-promo > p {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 53px;
  line-height: 26px;
}

.promo-container {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 33.33%;
  padding: 0 50px;

  text-align: center;
}

.promo-container p {
  font-size: 14px;
  line-height: 21px;
  margin: 21px 0;
}

.promo-white-blue {
  font-size: 0;
  line-height: 256px;
  color: white;
  background-color: #81b3d2;
}

.promo-white-blue h3 {
  color: white;
}

.promo-open-range {
  text-align: left;
  background-image: url("../img/openrange.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 66.66% auto;
}

.promo-diablo-bridge {
  text-align: right;
  background-image: url("../img/diablo.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 66.66% auto;
}

.promo-details {
  font-size: 0;
}

.promo-details .promo-container {
  padding-top: 164px;
  min-height: 330px;

  background-repeat: no-repeat;
  background-position: center 56px;
}

.promo-details .background-apt {
  background-image: url("../img/apt.png");
}

.promo-details .background-food {
  background-image: url("../img/food.png");
}

.promo-details .background-gift {
  background-image: url("../img/gift.png");
}

.promo-black-gray {
  font-size: 0;
  line-height: 256px;
  background-color: #eee;
}

.index-hotel-search {
  position: relative;
  width: 568px;
  min-height: 150px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 86px;
}

.index-hotel-search h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.index-hotel-search a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.btn-brown {
  color: white;
  background-color: #766357;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: #857871;
  background-color: #503e33;
  outline: none;
}

.main-footer {
  overflow: hidden;
  position: relative;
  min-height: 592px;

  background: #dec url("../img/map.jpg") no-repeat center bottom;
}

.hotel-search {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 458px;

  margin-left: -284px;
  padding: 55px;

  font-size: 0px;
  font-weight: bold;
  text-align: left;
  color: black;
  background-color: white;
}

.hotel-search label,
.hotel-search button[type="submit"] {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}

.hotel-search label.date {
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 38px;
}

.hotel-search input.date,
.hotel-search input.number,
.hotel-search button.number {
  float: right;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.hotel-search input.date {
  padding: 0 15px;
  width: 346px;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:active,
.hotel-search input:focus {
  background-color: white;
  border: 2px #e5e5e5 solid;
  line-height: 34px;
  outline: none;
}

.hotel-search input.date:active,
.hotel-search input.date:focus {
  background-color: white;
  border: 2px #e5e5e5 solid;
  line-height: 34px;
  padding-left: 13px;
  padding-right: 20px;
}


.hotel-search span.date {
  position: absolute;
  right: 8px;
  font-size: 19px;
  color: #c2c2c2;
  background-color: inherit;
}

.hotel-search span.date:hover,
.hotel-search button.number:hover {
  color: black;
}

.hotel-search span.date:active,
.hotel-search button.number:active {
  color: #81b3d2;
  outline: none;
}

.hotel-search label.adults-number,
.hotel-search label.kids-number {
  width: 50%;
  font-size: 14px;
  line-height: 38px;
}

.hotel-search button.number,
.hotel-search input.number {
  width: 38px;
  text-align: center;
}

.hotel-search button.number {
  color: #a9a9a9;
}

.hotel-search label.kids-number {
  box-sizing: border-box;
  padding-left: 30px;
}

.hotel-search button[type="submit"] {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 15px;

  border: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.btn-blue {
  color: white;
  background-color: #81b3d2;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: #88b6d1;
  background-color: #5496bd;
  outline: none;
}

.main-footer .footer-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.hotels-footer .footer-content {
  font-size: 0;
  background-color: white;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  display: inline-block;
  vertical-align: top;

  width: 33.33%;
  line-height: 120px;
  line-height: 120px;
  vertical-align: middle;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
}

.footer-social a {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  margin: 0 3px;

  line-height: 48px;
  text-align: center;
  font-size: 19px;

  color: white;
  background-color: #81b3d2;
}

.footer-content .icon-youtube {
  font-size: 23px;
}

.footer-copyright {
  font-size: 14px;
  color: black;
}

.footer-copyright img {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
}

.hotels-filter {
  padding: 0px 3%;
  background: url("../img/filterback.jpg") no-repeat center center;
  background-size: 100% auto;
  background-color: #47a;
}

.hotels-filter h3,
.hotels-filter label {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  line-height: 21px;
  color: white;
}

.hotels-filter h3 {
  font-size: 16px;
}

.hotels-filter .features,
.hotels-filter .housing {
  float: left;
  width: 218px;
  margin-left: 3%;
  padding-top: 25px;
  padding-bottom: 8px;
  text-align: left;
}

.hotels-filter .pricing {
  float: right;
  width: 30%;
  margin-right: 3%;
  padding-top: 25px;
  text-align: left;
}

.price-inputs label {
  width: 40%;
  display: inline-block;
}

.price-inputs input,
.hotels-filter button {
  background-color: rgba(0, 0, 0, 0);
  width:50%;
  border: 2px white solid;
  border-radius: 2px;
  color: white;
}

.hotels-results-sort {
  padding: 30px 6%;
  text-align: left;
  font-size: 0;
  line-height: 86px;
}

.hotels-results-sort > * {
  float: left;
  vertical-align: middle;
  font-size: 12px;
  color: black;
}

.hotels-results-sort .results-title {
  font-size: 21px;
  line-height: 26px;
  margin-right: 50px;
}

.hotels-results-sort span {
  margin-top: 3px;
  margin-right: 40px;
  line-height: 18px;
}

.hotels-results-sort .btn-sort {
  margin-top: 4px;
  margin-right: 33px;
  line-height: 18px;
}

.hotels-results-sort .btn-sort-dir {
  float: right;
  margin-top: 3px;
  font-size: 23px;
  line-height: 20px;
}

.hotels-results-sort a {
  color: #bbb;
  border-bottom: 1px #81b3d2 dotted;
}

.hotels-results-sort a:hover {
  color: #81b3d2;
}

.hotels-results-sort a:active {
  color: black;
  border: none;
}

.hotels-results-sort .btn-sort-dir {
  border: none;
}

.hotels-results-sort .active {
  color: #81b3d2;
  border: none;
}

.hotels-items {
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  list-style: none;
  border-top: 1px #e5e5e5 solid;
}

.hotels-items > li {
  padding: 29px 6% 30px;
  border-bottom: 1px #e5e5e5 solid;
}

.hotels-items img {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotels-items h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.hotels-items p {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.hotels-items .item-type,
.hotels-items .item-price {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  box-sizing: content-box;
  width: 116px;
}


.hotels-items a {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 6px;
  padding: 3px 17px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.hotels-items .item-details {
  float: left;
  margin: 0;
}

.hotels-items .item-rating {
  float: right;
  width: 110px;
  font-size: 14px;
  text-align: right;
}

.hotels-items .icon-star {
  font-size: 19px;
  line-height: 21px;
  color: #81b3d2;
}

.hotels-items .rating {
  margin-top: 46px;
  margin-bottom: 0px;
  text-align: center;
  color: #666;
  background-color: #f2f2f2;
}
