body {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
}

h2 {
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;;
  text-transform: uppercase;
  color: black;
}

h3 {
  font-family: "PT Sans Bold";
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;;
  text-transform: uppercase;
  color: black;
}
